<!DOCTYPE html>
<html xmlns:sd="http://io.github.jpenren/sd"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Selamat Datang Spring Boot</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>
<body>
<div class="mx-auto" style="width: 600px;">
    <h2>Belajar Web Menggunakan Spring Boot</h2>
</div>

<div class="container">
    <h4>List Mahasiswa</h4>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>No.</th>
            <th>Nim</th>
            <th>Nama</th>
            <th>IPK</th>
            <th>Jurusan</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mhs,iStat : ${mahasiswas}" th:with="add=(${mahasiswas.getNumber()}*${mahasiswas.getSize()})">
            <td th:text="${iStat.index+1+add}"/>
            <td th:text="${mhs.nim}">&nbsp;</td>
            <td th:text="${mhs.nama}">&nbsp;</td>
            <td th:text="${mhs.ipk}">&nbsp;</td>
            <td th:text="${mhs.jurusan}">&nbsp;</td>
            <td>
                <form class="d-inline" method="get" th:action="@{/mahasiswa/mahasiswa-form}">
                    <button class="btn btn-link btn-sm" name="id" th:value="${mhs.id}" type="submit">Edit</button>
                </form>
                |
                <form class="d-inline" method="post" th:action="@{/mahasiswa/hapus(id=${mhs.id})}">
                    <input name="_method" type="hidden" value="delete"/>
                    <button class="btn btn-link btn-sm" data-target="#exampleModalCenter" data-toggle="modal"
                            type="button">Hapus
                    </button>
                    <!-- Modal -->
                    <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade"
                         id="exampleModalCenter"
                         role="dialog" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Hapus data mahasiswa</h5>
                                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Apakah Anda yakin akan menghapus data?
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Tidak</button>
                                    <button class="btn btn-primary" type="submit">Ya</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                |
                <form class="d-inline" method="get" th:action="@{/mahasiswa/mahasiswa-details(id=${mhs.id})}">
                    <button class="btn btn-link btn-sm" name="id" th:value="${mhs.id}" type="submit">Detail</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-6">
            <div sd:pagination-summary="">info</div>
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination="full" sd:pagination-split="7">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a aria-label="Previous" href="#"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <a class="btn btn-primary" th:href="@{/mahasiswa/mahasiswa-form}">Tambah</a>
</div>
</body>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>